.container{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px;
 
}
main{
    background-image: url('/imagenes/fondoDePantalla.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    background-attachment: fixed;
    
    
}
body{
    background-color: rgb(0, 0, 0);
}
.footer{
    background-color: black;
    color:white;

} 
.contendorAbout{
    background-color: rgba(0, 0, 0, 0.653);
    position: relative;
    top: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-letter-large p:not(:last-child)::first-letter {
    font-size: 150%;
    
}
.imagenLogo{
    border-radius: 30%;
    width: 30%;
    margin-left: 100px;
    opacity: 0.95;
}
@media (min-width: 992px) { 
    

    li{
        font-size: small;
    }
  
}

@media (min-width: 1200px) {
    

    li{
        font-size: medium;
    }
    
}
