body {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    overflow-y: scroll; /* Muestra la barra de desplazamiento vertical cuando sea necesario */
}


.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 50px;
}
main{
    background-image: url('/imagenes/fondoDePantalla.jpg');
    background-size: cover; 
    background-position: center;
    height: auto; 
    background-attachment: fixed;
    object-fit: cover;
}
/* .footer{
    position: relative;
    top: auto;
} */
.contendorComentario{
    background-color: white;
    position: relative;
    top: 50px;
}
.first-letter-large p:not(:last-child)::first-letter {
    font-size: 150%;
}
.imagenLogo{
    border-radius: 30%;
}
@media (min-width: 992px) { 
    

    li{
        font-size: small;
    }
}

@media (min-width: 1200px) {
    

    li{
        font-size: medium;
    }
}


