.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 50px;
}

@media (max-width: 576px) { 
    .container{
        width: 80%;
        font-size: small;
    }

}

@media (min-width: 740px) { 
    .container{
        width: 50%;
    }
}

@media (min-width: 992px) { /* Grande (lg) y superior */
    .container{
        width: 40%;
    }
}

@media (min-width: 1200px) { /* Grande (lg) y superior */
    .container{
        width: 30%;
    }

    
}

main{
    background-image: url('/imagenes/fondoDePantalla.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 100vh; /* Altura del contenedor (puede ser ajustada según tus necesidades) */
    background-attachment: fixed;
    /* Otros estilos opcionales para el contenido dentro del contenedor */
}

.containerLogin{
    background-color: white;
    position: relative;
    top: 50px;
}