.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 50px;
}
body , footer{
    background-color: black;
}
footer{
    color: white;
}

@media (max-width: 576px) { 
    .container{
        width: 80%;
        font-size: small;
    }

}

@media (min-width: 740px) { 
    .container{
        width: 50%;
    }
}

@media (min-width: 992px) { 
    .container{
        width: 40%;
    }
}

@media (min-width: 1200px) { 
    .container{
        width: 30%;
    }

    
}

main{
    background-image: url('/imagenes/fondoDePantalla.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    background-attachment: fixed;
}

.containerLogin{
    background-color: rgba(255, 255, 255, 0.593);
    position: relative;
    top: 50px;
}