@media (min-width: 200px) { /* Pequeño (sm) y superior */
    #containerPlanes h1{
        color: black;
        font-size: 50px;
    }
}

@media (min-width: 576px) { /* Pequeño (sm) y superior */
    .card {
        width: 12rem; /* Cambia el ancho de la tarjeta para pantallas pequeñas */
    }
}

@media (min-width: 740px) { /* Mediano (md) y superior */
    .card {
        width: 15rem; /* Cambia el ancho de la tarjeta para pantallas medianas */
    }
}

@media (min-width: 992px) { /* Grande (lg) y superior */
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        width: 18rem; /* Cambia el ancho de la tarjeta para pantallas grandes */
        height: 200px;
    }
    main{
        padding: 30px;
    }
}

@media (min-width: 1200px) { /* Extra grande (xl) y superior */
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        width: 22rem; /* Cambia el ancho de la tarjeta para pantallas extra grandes */
        height: 200px;
        display: flex;
    }
    main{
        padding: 50px;
    }
    #containerPlanes h1{
        font-size: 60px;
    }
}

@media (min-width: 1700px) { /* Extra grande (xl) y superior */
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        width: 30rem; /* Cambia el ancho de la tarjeta para pantallas extra grandes */
        height: 250px;
        display: flex;
        font-size: x-large;
    }
    main{
        padding: 50px;
    }
    #containerPlanes h1{
        font-size: 60px;
    }
}

main{
    background-image: url('/imagenes/fondoDePantalla.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 100vh; /* Altura del contenedor (puede ser ajustada según tus necesidades) */
    background-attachment: fixed;
    /* Otros estilos opcionales para el contenido dentro del contenedor */
}

#containerPlanes{
    position: relative;
    top: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
