.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 50px;
}
main{
    background-image: url('/imagenes/fondoDePantalla.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    background-attachment: fixed;
}

.contendorFAQ{
    background-color: rgba(0, 0, 0, 0.714);
    position: relative;
    top: 20px;
}
.card{
    background-color: rgba(255, 255, 255, 0.677);
    border-radius: 0%;
    
}
.first-letter-large p:not(:last-child)::first-letter {
    font-size: 150%;
}
.imagenLogo{
    border-radius: 30%;
}
body{
    background-color: black;
}
footer{
    color: white;
}
@media (min-width: 992px) { 
    

    li{
        font-size: small;
    }
}

@media (min-width: 1200px) {
    

    li{
        font-size: medium;
    }
}


